* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-image: url("./img/shara desert.jpg");
    background-size: cover contain;
    background-position: top left;
    background-repeat: repeat-y;
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}
/* Header */
.header {
    margin: 2rem 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    max-width: 75px;
}
nav {
    display: flex;
    align-items: center;
}
.nav__links {
    list-style-type: none;
    font-size: 1.2rem;
    transition: right 1500ms;
}
.nav__links li {
    display: inline-block;
    padding: 0 15px;
    margin: 0 2rem;
}
.nav__links li a {
    text-decoration: none;
    outline: none;
    color: inherit;
    text-transform: uppercase;
    transition: 500ms linear;
}
.nav__links li a:hover,
.nav__links li a:focus {
    text-decoration: 1px underline #fff;
}
#menuCheck {
    display: none;
}
.menuIcon {
    display: block;
    cursor: pointer;
}
/* Main */
.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 50px;
}
/* Main - Content */
.content__title {
    font-size: 7rem;
    margin-bottom: 0;
}
.content__para {
    font-size: 1.2rem;
}
.button {
    outline: none;
    background-color: #fff;
    border: none;
    font-size: 1.2rem;
    border-radius: 25px;
    padding: 10px 60px;
    margin: 1.5rem 0;
    text-transform: uppercase;
}

/* Main - Card */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 400px;
    column-gap: 50px;
    row-gap: 30px;
}
.card {
    border-radius: 15px;
    background-size: 100% 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 30px;
    transition: 500ms linear;
}
.card:hover {
    transform: translateY(-15px);
}
.card__title {
    font-size: 1.5rem;
}
.card__text {
    font-size: 1.2rem;
    line-height: 2;
}
.card:nth-of-type(1) {
    background-image: url("./img/pic-1.png");
}
.card:nth-of-type(2) {
    background-image: url("./img/pic-2.png");
}
.card:nth-of-type(3) {
    background-image: url("./img/pic-3.png");
}
.card:nth-of-type(4) {
    background-image: url("./img/pic-4.png");
}

@media screen and (max-width: 856px) {
    /* Header */
    .header {
        margin: 2rem 0 0;
    }
    .logo {
        max-width: 65px;
    }
    .nav__links {
        font-size: 1rem;
    }
    /* Check Box Link */
    .nav__links {
        position: fixed;
        top: 50px;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: chocolate;
        font-size: 3rem;
        text-align: center;
    }
    .nav__links li {
        display: block;
        margin: 5rem auto;
    }
    .menuIcon {
        display: initial;
    }
    #menuCheck:checked ~ .nav__links {
        right: 0;
    }
    /* Main */
    .split {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 1rem 0;
    }
    /* Main - Content */
    .content__title {
        margin: 0;
        font-size: 2.5rem;
    }
    .content__para {
        font-size: 1rem;
    }
    /* Main - Card */
    .cards {
        grid-template-columns: 1fr;
        grid-auto-rows: 350px;
    }
    .card__title {
        font-size: 1.2rem;
    }
    .card__text {
        font-size: 1rem;
    }
}

